{% extends 'user-base.html.twig' %}
 {% block body %}
     <div class="user__container">

 <h2 class="title-h2" style="text-align: center;">{{title_text}}</h2>
     {% if error %}
         <p class="describe__text">{{ error }}</p>
     {% endif %}
     <a href="{{ back_url }}">Go back</a>
     </div>
 {% endblock %}