{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hey, this is a demo site!</h1>
    <p>Here you can see my first try of building API</p>
    <a href="{{ path('app_orders_all') }}">See all orders</a>
    <p>Also you can get oreder by adding an orderID. E.g
        <a href="{{ path('app_orders_by_id',{id:1}) }}">https://127.0.0.1:8000/orders/1</a>
    </p>
    <a href="{{ path('app_user_controller') }}">See user menu</a>
{% endblock %}