{% extends 'user-base.html.twig' %}
 {% block body %}
     <div class="user__container">

 <h2 style="text-align: center;">Failed to create user!</h2>
     {% if error %}
         <p>{{ error }}</p>
     {% endif %}
     <a href="/user/create">Go back</a>
     </div>
 {% endblock %}