{%extends 'user-base.html.twig' %}
{% block body %}
    <h2 class="title-h2">{{ message }}</h2>
    <p class="describe__text">{{ explain_text }}</p>
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}