{%extends 'user-base.html.twig' %}
{% block body %}
    <h2 style="text-align: center; margin-top: 20px;">{{ message }}</h2>
    <p style="text-align: center;">{{ explain_text }}</p>
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}