{% extends 'user-base.html.twig' %}

{% block title %}User menu{% endblock %}

{% block body %}
    <style>
      *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;padding: 0;
      }
      .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
      }

      .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
      }

      a, a:visited {
        text-decoration: none;
        color: inherit;
      }
      .btn__wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        gap: 30px;
        justify-content: center;
      }

      .btn {
        border: 3px solid darkolivegreen;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
      }
      .btn:hover {
        background-color: wheat;
      }
    </style>

    <div class="example-wrapper">
        <h1>User menu:</h1>

    </div>
    <div class="btn__wrapper">
        <a class="btn" href="user/create">Create user</a>
        <a class="btn" href="user/get-all">Get all users</a>
    </div>
{% endblock %}
