{% extends 'user-base.html.twig' %}

{% block title %}User menu{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="example-wrapper">
        <h1>User menu:</h1>

    </div>
    <div class="btn__wrapper">
        <a class="btn" href="user/create">Create user</a>
        <a class="btn" href="user/get-all">Get all users</a>
        <a class="btn" href="user/get-by-field">Get by field</a>
        <a class="btn" href="user/update">Update user</a>

    </div>
{% endblock %}
